<h3>Events</h3>
<ul>
  <li>
    <%= image_tag "arrow.png" %>
    <%= link_to "Upcoming Events", events_path %>
  </li>
  <li>
    <%= image_tag "add.png" %>
    <%= link_to "Add New Event", new_event_path %>
  </li>
</ul>