// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header-color : grey;
$content-color : lightgrey;
$footer-color : darkgrey;

#header {
  background-color: $header-color
}

#content {
  background-color: $content-color
}

#footer {
  background-color: $footer-color
}