
<tr>
 <p><strong><%= review.created_at.to_s + " Reviewer:" %></strong><%= review.name + " (" + review.email + ")" %></p>
</tr>
<tr>
  <p><strong>Comments:</strong><%= review.comments %></p>
</tr>
<br>